{% extends 'base.html.twig' %}

{% block title %}Salut{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence test</h1>
        <p>Lorem ipsum</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-3">
                {% include "property/_property.html.twig" %}
            </div>
                {% else %}
                    NO PROPERTY
            {% endfor %}
        </div>
    </div>
{% endblock %}