{% extends 'base.html.twig' %}

{% block title %}Partie administrateur{% endblock %}

{% block body %}
    <div class="container mt-4 mb-4">
        <h1>Créer un nouveau bien</h1>
        {{ include ("admin/_form.html.twig", {form: form, button: "Nouveau bien"}) }}
    </div>
{% endblock %}